{
  "workDir": "Путь к папке где будет загружаться и собираться 1С",
  "githubToken": "Токен гитхаба",
  "ApplicationPath1C": "Путь к исполняемому каталогу 1С (например 'C:\\Program Files\\1cv8\\8.3.18.1520\\bin')",
  "InfoBasePath1C": "Путь к базе, которая будет использоваться для сборки. Для скорости работы рекомендуется, чтобы это была пустая база без конфигурации и данных.",
  "port": "Порт, на котором будет слушать сервер. Не обязательно указывать, по умолчанию 11000"
}